.list_item {
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.moving {
  filter: grayscale(100);
}

.hint_icons {
  position: absolute;
  top: -15px;
  left: 0;
  display: flex;
}

.left_click_icon,
.right_click_icon,
.drag_icon {
  width: 32px;
  height: 32px;
  background-size: cover;
  transition: all 0.2s ease;
  opacity: 0;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5)) drop-shadow(-2px 2px 4px rgba(255, 255, 255, 0.5))
    drop-shadow(0px 0px 12px rgb(51 51 255 / 100%)) hue-rotate(25deg);
}

.left_click_icon {
  background-image: url("../../images/left-click.png");
}

.right_click_icon {
  background-image: url("../../images/right-click.png");
}

.drag_icon {
  background-image: url("../../images/left-click-drag.png");
}

.list_item:hover {
  cursor: pointer;
}

.list_item:hover .left_click_icon,
.list_item:hover .right_click_icon,
.list_item:hover .drag_icon {
  opacity: 1;
}

.list_item:hover .image {
  transform: scale(1.1);
}

.image {
  transition: all 0.2s ease;
}

.price_info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
}
